<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Static Graphs with Major Data Points"</title>
</head>
<body>
    <p> Genre Sales</p>
    <img src="static/genre_sales.png" alt="genre_sales">
    <p> Genre Ranks</p>
    <img src="static/genre_ranks.png" alt="genre_rank">

    <p> Rating Sales</p>
    <img src="static/rating_sales.png" alt="rating_sales">

    <p> Total Sales By Month</p>
    <img src="static/sales_months.png" alt="sales_months">

<!--  make section for accepting user input to generate predictive results from  -->
</body>
</html>