<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Static Graphs with Major Data Points"</title>
</head>
<body>
    <p> Genre Sales</p>
    <img src="static/genre_sales.png" alt="genre_sales">
    <p> Genre Ranks</p>
    <img src="static/genre_ranks.png" alt="genre_rank">

    <p> Rating Sales</p>
    <img src="static/rating_sales.png" alt="rating_sales">

    <p> Total Sales By Month</p>
    <img src="static/sales_months.png" alt="sales_months">

<!--  make section for accepting user input to generate predictive results from  -->
<!--  inputs: genre, rating, release month  -->

<!--  gets genre choices for movie  -->
    <p> User Input for Predictions</p>
    <form>
        <input type="checkbox" id="action" name="action" value="action">
        <label for="action"> Action </label><br>
        <input type="checkbox" id="adventure" name="adventure" value="adventure">
        <label for="adventure"> Adventure </label><br>
        <input type="checkbox" id="animation" name="animation" value="animation">
        <label for="animation"> Animation </label><br>
        <input type="checkbox" id="biography" name="biography" value="biography">
        <label for="biography"> Biography </label><br>
        <input type="checkbox" id="comedy" name="comedy" value="comedy">
        <label for="comedy"> Comedy </label><br>
        <input type="checkbox" id="crime" name="crime" value="crime">
        <label for="crime"> Crime </label><br>
        <input type="checkbox" id="documentary" name="documentary" value="documentary">
        <label for="documentary"> Documentary </label><br>
        <input type="checkbox" id="drama" name="drama" value="drama">
        <label for="drama"> Drama </label><br>
        <input type="checkbox" id="family" name="family" value="family">
        <label for="family"> Family </label><br>
        <input type="checkbox" id="fantasy" name="fantasy" value="fantasy">
        <label for="fantasy"> Fantasy </label><br>
        <input type="checkbox" id="history" name="history" value="history">
        <label for="history"> History </label><br>
        <input type="checkbox" id="horror" name="horror" value="horror">
        <label for="horror"> Horror </label><br>
        <input type="checkbox" id="music" name="music" value="music">
        <label for="music"> Music </label><br>
        <input type="checkbox" id="musical" name="musical" value="musical">
        <label for="musical"> Musical </label><br>
        <input type="checkbox" id="mystery" name="mystery" value="mystery">
        <label for="mystery"> Mystery </label><br>
        <input type="checkbox" id="romance" name="romance" value="romance">
        <label for="romance"> Romance </label><br>
        <input type="checkbox" id="scifi" name="scifi" value="scifi">
        <label for="scifi"> Sci-Fi </label><br>
        <input type="checkbox" id="sport" name="sport" value="sport">
        <label for="sport"> Sport </label><br>
        <input type="checkbox" id="thriller" name="thriller" value="thriller">
        <label for="thriller"> Thriller </label><br>
        <input type="checkbox" id="war" name="war" value="war">
        <label for="war"> War </label><br>
        <input type="checkbox" id="western" name="western" value="western">
        <label for="western"> Western </label><br>
<!--  get rating for movie  -->
        <label for="ratings">Choose a rating:</label>
        <select id="ratings" name="ratings">
            <option value="GRating">G</option>
            <option value="PGRating">PG</option>
            <option value="PG-13Rating">PG-13</option>
            <option value="RRating">R</option>
        </select>
<!--  get release month for movie  -->
        <label for="months">Choose a release month:</label>
        <select id="months" name="months">
            <option value="january"> January </option>
            <option value="february"> February </option>
            <option value="march"> March </option>
            <option value="april"> April </option>
            <option value="may"> May </option>
            <option value="june"> June </option>
            <option value="july"> July </option>
            <option value="august"> August </option>
            <option value="september"> September </option>
            <option value="october"> October </option>
            <option value="november"> November </option>
            <option value="december"> December </option>
        </select>
    </form>

    <input type="button" value="Generate Prediction">
</body>
</html>